@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.die
{
    transition: background-color 0.5s ease-in-out,
                border-color 0.5s ease-in-out;
}

.second
{
    background-color: whitesmoke;
    border-color: darkgrey;
}

.limit
{
    animation: limit 2s cubic-bezier(0.4, 0, 0.6, 1) 1;
}

@keyframes limit
{
    0%, 100%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0.25;
    }
}
